@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';


html {
    box-sizing: border-box;
    background:url('https://unsplash.it/1280/1280/?image=1053') center no-repeat; /* Lista delle img: https://picsum.photos/images */
    background-size:cover;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*font-family: Futura,"Trebuchet MS",Arial,sans-serif */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  *, *:before, *:after {box-sizing: inherit; }

  .wrapper {
    padding: 20px;
    max-width: 80em;
    line-height: 1.5;
    color: #555;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.1);
  }

/* body {
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    color: #555;
} */

h2 {
    margin-top: 1em;
    padding-top: 1em;
    color: #333;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 6px 18px;
    margin-left: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

.fretboard {
    position: relative;
}

.tuning,
.fretnum {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    text-transform: uppercase;
}

.tuning {
    left: 8px;
    font-size: 10px;
}

.fretnum {
    font-size: 8px;
}

.some-class {
    float: left;
    clear: none;
    width: 150;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 0 10px 0 6px;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    /* margin: 2px 0 0 2px; */
}

.notes-info {
    font-weight: bold;
}

.scale-name {
    text-align: center;

}